@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');



@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar {
  padding: 0 1rem;
  background-color: #E5E5E5 !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
}

.custom-hamburger::before,
.custom-hamburger::after {
  border-width: 4px;
}


h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.char-card {
  border-width: 2px;
}

.card-title {
  font-size: xx-large;
}