@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');



@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .user-cards {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) {
  .user-cards {
    width: 400px;
  }
  .to-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.navbar {
  padding: 0 1rem;
  background-color: #E5E5E5 !important;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
}

.custom-hamburger::before,
.custom-hamburger::after {
  border-width: 4px;
}


h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.char-card {
  border-width: 2px;
}

.card-title {
  font-size: xx-large;
}

.modal-title {
  font-size: x-large;
  overflow-wrap: break-word;
}

.location {
  font-size: small;
  margin-left: 9px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.titles {
  font-size: xx-large;
  font-weight: 700;
}

.labels {
  margin-bottom: 0;
  font-size: large;
  font-weight: 600;
}

.head1 {
  font-size: x-large;
  font-weight: 600;
  text-decoration: underline;
}

.head2 {
  font-size: x-large;
  font-weight: 600;
  text-decoration: underline;
  margin: 0;
  margin-top: 20px;
}

.data-nums {
  margin: 0;
}

.favorited {
  background-color: #ffcd68;
  color: black;
}